[submodule "vendor/fruitcake/laravel-cors"]
	path = vendor/fruitcake/laravel-cors
	url = https://github.com/fruitcake/laravel-cors.git
	
[submodule "vendor/carbonphp/carbon-doctrine-types"]
    path = vendor/carbonphp/carbon-doctrine-types
    url = https://github.com/carbonphp/carbon-doctrine-types.git
    
[submodule "php-getting-started"]
    path = php-getting-started
    url = https://github.com/wandy141/php-getting-started.git

[submodule "vendor/league/flysystem-local"]
    path = vendor/league/flysystem-local
    url = https://github.com:wandy141/flysystem-local.git


    [submodule "vendor/psr/clock"]
    path = vendor/psr/clock
    url = https://github.com/php-fig/clock.git

[submodule "vendor/symfony/polyfill-php83"]
    path = vendor/symfony/polyfill-php83
    url = https://github.com/symfony/polyfill-php83.git
